@import "../../../styles/helpers/variables/index";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);

  &.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: relative;
    min-width: 350px;
    padding: 30px;
    border-radius: 10px;
    background: $white;
  }

  &__icon-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}