.button {
  transition: 0.4s;
  border: 2px solid #515cc6;
  outline: none;
  background: #ffffff;

  &_primary {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  &_secondary {
    height: 50px;

    &:hover {
      color: #ffffff;
    }
  }

  &:hover {
    border: 2px solid #ffffff;
    background: #515cc6;
  }
}