@import "helpers/variables/index";
@import "button";
@import "modal";
@import "shopping-list";
@import "shopping-list-body";
@import "shopping-list-buttons";
@import "shopping-list-footer";
@import "shopping-list-form";
@import "shopping-list-item";
@import "shopping-list-items";

* {
  font-family: $font-family-primary;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

input[type="text"],
input[type="number"] {
  padding-left: 10px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

