.shopping-list {
  position: relative;
  width: 400px;
  padding: 10px 20px 50px;
  border: 1px solid black;

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-style: italic;
  }

  &__body {
    padding: 16px 0;
    border-bottom: 1px solid gray;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.is-completed {
      text-decoration: line-through;
      color: #b9b9be;
    }
  }

  &__item-left-part {
  }

  &__item-right-part {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__item-name {
  }

  &__item-price {
  }

  &__item-button {
    border: none;
    background: transparent;
  }

  &__footer {
    padding-top: 30px;
    padding-right: 70px;
  }

  &__total-price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__total-price-title {
    font-weight: bold;
    font-style: italic;
  }

  &__total-price-value {
  }

  &__button {
    position: absolute;
    right: 15px;
    bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    height: 50px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__form-button {

  }
}