@import "../../../styles/helpers/variables/index";

.button {
  height: 50px;
  padding: 5px 10px;
  transition: .5s;
  border: 2px solid $purple;
  outline: none;
  background: $white;

  &:hover {
    color: $white;
    border: 2px solid $white;
    background: $purple;
  }
}