@import "../../styles/helpers/variables";

.shopping-list-footer {
  position: relative;
  padding-top: 15px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid $black;
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  &__price-title {
    font-weight: bold;
    font-style: italic;
  }

  &__price-value {
  }
}