@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "./App.scss";

body {
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}